/* Note, this CSS needs a lot of work */
:host {
    position: relative;
    display: inline-block;

    background-color: #ffffff;
    color: #444444;
    font-family: sans-serif;
    text-align: left;
    border-radius: 5px;

    /* special override-able css variables */
    --border: 1px solid #cccccc;

    --hover-background-color: #daeeff;
    --focus-background-color: #daeeff;

    --hover-text-color: #3388ff;
    --focus-text-color: #3388ff;

    --hover-border: 1px solid #daeeff;
    --focus-border: 1px solid #daeeff;
    --active-border: 1px solid #3388ff;

    --focus-box-shadow: 0 0 0px 3px #b1dcff;
}

/* Default style if no type is specified */
input {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: inherit;
    color: inherit;
    border: var(--border);
    border-radius: inherit;
    padding: 5px;
    font-family: inherit;
    text-align: inherit;
}

input:focus {
    border-bottom: 1px solid #cccccc;
    outline: none;
    -webkit-animation: focus .1s linear forwards;
    animation: focus .1s linear forwards;
}

@keyframes focus {
    100% { box-shadow: var(--focus-box-shadow) }
    100% { border: var(--active-border) }
}


/* Attributes: */
/* Size */
:host([size = "small"]) {
    width: 100px;
    height: inherit;
}
:host([size = "medium"]) {
    width: 200px;
    height: inherit;
}
:host([size = "large"]) {
    width: 300px;
    height: inherit;
}

/* Disabled */
:host([disabled]) > input {
    border: none;
    background-color: #cccccc;
    cursor: not-allowed;
}
  
/* Suggestion Styling */
#suggestionContainer {
    position: absolute;
    border: var(--border);
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

/* Suggestion Rows */
.suggestion {
    padding-left: 5px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
    font-family: inherit;
    font-size: 15px
}

.suggestion:hover {
    border: var(--active-border);
}

.suggestion:focus {
    background-color: var(--hover-background-color, #daeeff);
    border: var(--active-border);
}
  