/* host */
:host .container {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    vertical-align: middle;
  }

  /* Hides Native Checkbox */
  :host .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Visible Checkmark */
  :host .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 5px;
    background-color: #eee;
    vertical-align: middle;
  }

  /* Aligns Label */
  :host #cblabel {
    vertical-align: middle;
  }

  /* Hover Background */
  :host .container:hover input ~ .checkmark {
    background-color: #ccc;
  }

  /* Disabled Colors */
  :host([disabled]) input ~ .checkmark {
    background-color: #808080;
    cursor: not-allowed;
  }
  :host([disabled]) .container:hover input ~ .checkmark {
    background-color: #808080;
    cursor: not-allowed;
  }
  :host([disabled]) .container:hover input:checked ~ .checkmark {
    background-color: #808080;
    cursor: not-allowed;
  }

  /* Checked default */
  :host .container input:checked ~ .checkmark {
    background-color: #808080;
  }
  :host .container:hover input:checked ~ .checkmark {
    background-color: #000000;
  }

  /* Checked Color */
  :host([color="grey"]) .container input:checked ~ .checkmark {
    background-color: #777777;
  }
  :host([color="red"]) .container input:checked ~ .checkmark {
    background-color: #cc5050;
  }
  :host([color="orange"]) .container input:checked ~ .checkmark {
    background-color: #df8a40;
  }
  :host([color="yellow"]) .container input:checked ~ .checkmark {
    background-color: #eedd00;
  }
  :host([color="green"]) .container input:checked ~ .checkmark {
    background-color: #59c040;
  }
  :host([color="blue"]) .container input:checked ~ .checkmark {
    background-color: #40a5ff;
  }
  :host([color="purple"]) .container input:checked ~ .checkmark {
    background-color: #aa55aa;
  }
  
  /* Hover color when checked */
  :host([color="grey"]) .container:hover input:checked ~ .checkmark {
    background-color: #999999;
  }
  :host([color="red"]) .container:hover input:checked ~ .checkmark {
    background-color: #e46060;
  }
  :host([color="orange"]) .container:hover input:checked ~ .checkmark {
    background-color: #dfaa70;
  }
  :host([color="yellow"]) .container:hover input:checked ~ .checkmark {
    background-color: #f6e690;
  }
  :host([color="green"]) .container:hover input:checked ~ .checkmark {
    background-color: #79cc69;
  }
  :host([color="blue"]) .container:hover input:checked ~ .checkmark {
    background-color: #65b5ff;
  }
  :host([color="purple"]) .container:hover input:checked ~ .checkmark {
    background-color: #cc66cc;
  }

  /* Shows Checkmark if checked or not */
  :host .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  :host .container input:checked ~ .checkmark:after {
    display: block;
  }

  /* Draws Checkmark */
  :host .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }