/* define color scheme for default button */
:host > button{
    display: inline-block;
    position: relative;
    width: 90px;
    height: 40px;


    font-family: sans-serif;
    background-color: #ffffff;
    color: #444444;
    border: 1px solid #cccccc;
    font-size: 15px;
    outline: none;
    vertical-align: top;

    /* special override-able css variables */

    --hover-background-color: #daeeff;
    --focus-background-color: #daeeff;
    --active-background-color: #daeeff;

    --hover-text-color: #3388ff;
    --focus-text-color: #3388ff;

    --hover-border: 1px solid #daeeff;
    --focus-border: 1px solid #bbccff;
    --active-border: 1px solid #3388ff;
}

/* Bootstrap Support */
/* Primary Button */
:host([bootstrap="btn btn-primary"]) > button {
  /* btn btn-primary styling */
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;

  /* basic button styling */
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* Secondary Button */
:host([bootstrap="btn btn-secondary"]) > button {
  /* btn btn-secondary styling */
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;

  /* basic button styling */
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* Success Button */
:host([bootstrap="btn btn-success"]) > button {
  /* btn btn-success styling */
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;

  /* basic button styling */
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* Info Button */
:host([bootstrap="btn btn-info"]) > button {
  /* btn btn-info styling */
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;

  /* basic button styling */
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* Warning Button */
:host([bootstrap="btn btn-warning"]) > button {
  /* btn btn-warning styling */
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;

  /* basic button styling */
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* Danger Button */
:host([bootstrap="btn btn-danger"]) > button {
  /* btn btn-danger styling */
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;

  /* basic button styling */
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* Light Button */
:host([bootstrap="btn btn-light"]) > button {
  /* btn btn-light styling */
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;

  /* basic button styling */
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* Dark Button */
:host([bootstrap="btn btn-dark"]) > button {
  /* btn btn-dark styling */
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;

  /* basic button styling */
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* TODO: Primary Hover */
/* :host([bootstrap="btn btn-primary"]) > button:focus { */
  /* btn btn-primary hover styling */
  /* color: #fff; */
  /* background-color: #0069d9; */
  /* border-color: #0062cc; */

/*
:host([bootstrap="btn btn-primary"]) > button {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
} */

/* Attribute: round */
/* if host element, i.e. <meat-button> has attribute round, apply this css to button*/

:host([round]) > button {
    border-radius: 100px;
}

/* Attribute: circle */
:host([circle]) > button {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

/* Attribute: size */
/* if host element, i.e. <meat-button> has attribute size="small", apply this css */
:host([size="small"]) > button {
    width: 80px;
    height: 36px;
}

:host([size="medium"]) > button {
    width: 90px;
    height: 40px;
}

:host([size="large"]) > button {
    width: 100px;
    height: 44px;
}

/* if size specified, use the following dimensions */
:host([circle][size="small"]) > button {
    width: 30px;
    height: 30px;
}

:host([circle][size="medium"]) > button {
    width: 40px;
    height: 40px;
}

:host([circle][size="large"]) > button {
    width: 50px;
    height: 50px;
}

/* define color scheme for white button */
:host([color="white"]) > button {
  /* colors */
  background-color: #ffffff;
  color: #444444;
  border: 1px solid #cccccc;

  --hover-background-color: #daeeff;
  --focus-background-color: #daeeff;
  --active-background-color: #daeeff;

  --hover-text-color: #3388ff;
  --focus-text-color: #3388ff;

  --hover-border: 1px solid #daeeff;
  --focus-border: 1px solid #bbccff;
  --active-border: 1px solid #3388ff;
}

:host([color="grey"]) > button {
  /* colors */
  background-color: #777777;
  color: #ffffff;
  border: 1px solid #777777;

  --hover-background-color: #999999;
  --focus-background-color: #999999;
  --active-background-color: #555555;

  --hover-text-color: #ffffff;
  --focus-text-color: #ffffff;

  --hover-border: 1px solid #999999;
  --focus-border: 1px solid #999999;
  --active-border: 1px solid #555555;
}

/* define color scheme for red button */
:host([color="red"]) > button {
  /* colors */
  background-color: #cc5050;
  color: #ffffff;
  border: 1px solid #cc5050;

  --hover-background-color: #e46060;
  --focus-background-color: #e46060;
  --active-background-color: #b03737;

  --hover-text-color: #ffffff;
  --focus-text-color: #ffffff;

  --hover-border: 1px solid #e46060;
  --focus-border: 1px solid #e46060;
  --active-border: 1px solid #b03737;
}

/* define color scheme for orange button */
:host([color="orange"]) > button {
  /* colors */
  background-color: #df8a40;
  color: #ffffff;
  border: 1px solid #df8a40;

  --hover-background-color: #dfaa70;
  --focus-background-color: #dfaa70;
  --active-background-color: #cf7a30;

  --hover-text-color: #ffffff;
  --focus-text-color: #ffffff;

  --hover-border: 1px solid #dfaa70;
  --focus-border: 1px solid #dfaa70;
  --active-border: 1px solid #cf7a30;
}

/* define color scheme for yellow button */
:host([color="yellow"]) > button {
  /* colors */
  background-color: #eedd00;
  color: #ffffff;
  border: 1px solid #eedd00;
  
  --hover-background-color: #f6e690;
  --focus-background-color: #f6e690;
  --active-background-color: #ddcc00;

  --hover-text-color: #ffffff;
  --focus-text-color: #ffffff;

  --hover-border: 1px solid #f6e690;
  --focus-border: 1px solid #f6e690;
  --active-border: 1px solid #ddcc00;
}

/* white text is hard to read against a yellow background, add some subtle text shadow */
:host([color="yellow"]) > button {
  text-shadow: 0 0 5px #c5b500, 0 0 10px #c5b500, 0 0 15px #eedd00;
}

/* define color scheme for green button */
:host([color="green"]) > button {
  /* colors */
  background-color: #59c040;
  color: #ffffff;
  border: 1px solid #59c040;

  --hover-background-color: #79cc69;
  --focus-background-color: #79cc69;
  --active-background-color: #50a050;

  --hover-text-color: #ffffff;
  --focus-text-color: #ffffff;

  --hover-border: 1px solid #79cc69;
  --focus-border: 1px solid #79cc69;
  --active-border: 1px solid #50a050;
}

/* define color scheme for blue button */
:host([color="blue"]) > button {
  /* colors */
  background-color: #40a5ff;
  color: #ffffff;
  border: 1px solid #40a5ff;

  --hover-background-color: #65b5ff;
  --focus-background-color: #65b5ff;
  --active-background-color: #2285dd;

  --hover-text-color: #ffffff;
  --focus-text-color: #ffffff;

  --hover-border: 1px solid #65b5ff;
  --focus-border: 1px solid #65b5ff;
  --active-border: 1px solid #2285dd;
}

/* define color scheme for blue button */
:host([color="purple"]) > button {
  /* colors */
  background-color: #aa55aa;
  color: #ffffff;
  border: 1px solid #aa55aa;

  --hover-background-color: #cc66cc;
  --focus-background-color: #cc66cc;
  --active-background-color: #994499;

  --hover-text-color: #ffffff;
  --focus-text-color: #ffffff;

  --hover-border: 1px solid #cc66cc;
  --focus-border: 1px solid #cc66cc;
  --active-border: 1px solid #994499;
}


/* Actions: focus */
:host(:not([disabled])) > button:focus {
    border: var(--focus-border);
    color: var(--focus-text-color);
    background-color: var(--focus-background-color);
}

/* Actions: hover */
:host(:not([disabled])) > button:hover {
    -webkit-animation: hover .1s linear forwards;
    animation: hover .1s linear forwards;
}

@keyframes hover {
    100% { background-color: var(--hover-background-color) }
    100% { color: var(--hover-text-color) }
    100% { border: var(--hover-border) }
}
@-webkit-keyframes hover {
    100% { background-color: var(--hover-background-color) }
    100% { color: var(--hover-text-color) }
    100% { border: var(--hover-border) }
}

/* Actions: active/click */
:host(:not([disabled])) > button:active {
    -webkit-animation: active .1s linear forwards;
    animation: active .1s linear forwards;
}
@keyframes active {
    100% { background-color: var(--active-background-color)  }
    100% { border: var(--active-border)  }
}
@-webkit-keyframes active {
    100% { background-color: var(--active-background-color)  }
    100% { border: var(--active-border)  }
}

/* Attribute: disabled */
/* if host element, i.e. <meat-button> has attribute round, apply this css to button*/
:host([disabled]) > button {
    background-color: lightgrey; 
    color: white;
    cursor: not-allowed;
}

