:host {
    display: block;
}

#container {
    display: block;
    width: 100%;
}

#viewer {
    display: block;
    margin: auto;
    height: 300px;
    width: 90%;
}

#editor {
    display: block;
    margin: auto;
    width: 90%;
    height: 300px;
    font-size: 13px;
    background-color: #444;
    color: white;
    tab-size: 4;
}

