:host {
    display: inline-block;
    position: relative;
    width: 350px;
    min-height: 250px;
    border: 1px solid #AAAAAA;
    border-radius: 5px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.15);
    background-color: inherit;
    font-family: sans-serif;
    vertical-align: top;
}

/* header default css */
::slotted([slot="header"])  {
    font-size: 20px;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    padding: 15px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: 1px solid #AAAAAA;
    overflow: auto;
    align-items: center;
    justify-content: space-between;
}

/* body default css */
::slotted([slot="body"]) {
    padding: 15px;
}

/* box shadow */
:host([shadow="always"]) {
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.15);
}

:host([shadow="hover"]) {
    box-shadow: none;
}

:host([shadow="hover"]:hover) {
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.15);
    background-color: white;
}

:host([shadow="never"]) {
    box-shadow: none;
}

/* Experimental image support */ 
/*
:host([img]) > #headerContainer  {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: attr(img, 50%);
}

:host([img="cover"]) > #headerContainer  {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: inherit;
    object-fit: cover;
}

::slotted(img[slot="header"]) {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}
 
#headerContainer {
    margin: -1px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}
*/
