/* host */
:host(:not([bootstrap]))  {
    font-family: sans-serif;
    vertical-align: top;
    overflow: auto;
  }
  
  :host(:not([bootstrap])) #imageElement {
    width: inherit;
    height: inherit;
  }
  
  .imageHide {
    display: none;
  }