@import url('https://fonts.googleapis.com/css?family=Oxygen|Source+Sans+Pro');
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #E65328;
}

html, body {
    background-color: whitesmoke;
}
header {
    height: 250px;
}
nav {
    padding: 10px 0 0 0;
}
nav ul li {
    display: inline-block;
    padding: 1%;
}
#nav-logo {
    padding: 2px 0 0 8px;
    float: left;
    width: 70px;
}
nav ul li a {
    display: inline-block;     
    position: relative;    
    z-index: 1;     
    padding: 1em;     
    margin: -1em;
    text-decoration: none;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
nav ul li a:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
section {
    margin-bottom: 10%;
}
section h2 {
    text-align: center;
}
section h3 {
    text-align: center;
}
.page-title {
    text-align: center;
    font-weight: 1000;
    letter-spacing: 3px;
    font-size: 350%;
    margin-top: 3%;
}
.section-title {
    font-size: 250%;
    letter-spacing: 3px;
    text-align: center;
    /* margin-bottom: 2%; */
}
.section-img-large {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    object-fit: cover;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    width: 65%;
}
.section-img-medium {
    display: inline-block;
    margin-top: 10px;
    object-fit: contain;
    width: 30%;
    height: 400px;
}
.section-img-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    object-fit: cover;
    /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); */
    width: 10%;
}
.side-by-side {
    text-align: center;
}

/* Smartphones (landscape) ----------- */
@media only screen and (max-width : 1000px) {
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 600px) {
    /* Styles */
    header {
        height: 150px;
    }
    .page-title {
        text-align: left;
        font-size: 200%;
    }
    .section-title{
        font-size: 120%;
    }
    .section-sub-title {
        font-size: 90%;
    }
    .section-img-medium {
        height: 150px;
    }
    nav ul {
        padding-left: 4px;
    }
    nav ul li a {
        font-size: 90%;
    }
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}
    